---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $background;
  font-family: 'Inter';
  font-weight: 400;
  color: $text;
  line-height: 1.6;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 40px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter';
  font-weight: 700;
  color: $text;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.6;
  }
}


h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 15px 0;
}

a {
  color: $text;
  text-decoration: none;
	cursor: pointer;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  opacity: 0.8;
}

// Specify the color of the selection
::-moz-selection {
  color: $background;
  background: $text;
}
::selection {
  color: $background;
  background: $text;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.highlight {
  background-color: transparent !important;
}
code {
  color: #040604 !important;
}

.wrapper-masthead {
  position: fixed;
  top: 16px;
  width: 100%;
  padding-inline: 10%;
}

.masthead {
  padding: 18px 20px;
  padding-right: 24px;
  border-radius: 24px;
  background-color: rgba(14, 18, 23, 0.32);
  backdrop-filter: blur(40px);

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  width: 40px;
  height: 40px;
  margin-right: 7.5px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $text;
  cursor: pointer;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
  .blog {
    background: -webkit-linear-gradient(0deg, #608a64, #644c6b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 16px;
}

.header-cols {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 22px;
  font-size: 16px;
  height: 42px;

  a {
    opacity: 0.8;
  }
  
  a:hover {
    text-decoration: underline;
  }
}


//
// media queries
//

@media screen and (max-width: 640px) {
  .header-cols {
    justify-content: center;
  }
  .header-links {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .exerpt {
    display: none;
  }
  .site-name {
    display: none;
  }
  .header-cols {
    justify-content: center;
  }
  .header-links {
    display: none;
  }
}

//
// .main
//

#main {
  margin-top: 128px;
}

.back {
  display: flex;
  padding: 10px 16px;
  border-radius: 6px;
  background-color: $bglighter;
  width: fit-content;
  color: $text;
}

.back:hover {
  box-sizing: border-box;
  background-color: transparent;
  border: 4px solid $bglighter;
  padding: 6px 12px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.posts > .post {
  border: 4px solid $bglighter;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
}

.posts > .post:hover {
  background-color: $bglight;
}

.posts > .post:last-child {
  padding-bottom: 1em;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
