
//
// VARIABLES
//

$text: #f6f9f6;
$background: #040604;
$bglight: #101210;
$bglighter: #161916;
$primary: #608a64;
$secondary: #3d3951;
$accent: #644c6b;

// Colors
$blue: #4183C4;

// Grays
$black: #080808;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}